.getGeoBtn {
  width: 75px;
  height: 40px;
  background-color: darkgoldenrod;
  margin: 20px 0 0 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.geoInfoBtn {
  width: 75px;
  height: 40px;
  background-color: darkgoldenrod;
  margin: 20px 0 0 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.eraseBtn {
  width: 75px;
  height: 40px;
  background-color: darkgoldenrod;
  margin: 20px 0 0 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
